// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

.facet-filter, .setting-option {
  background-color: var(--bs-light);
  border-radius: var(--bs-border-radius);

  &.p-3 {
    // Needs !important because the original bootstrap class uses it
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .badge-secondary {
    background-color: var(--bs-primary);
  }

  h5 {
    font-size: 1.1rem
  }
}

header {
  li > .navbar-section,
  li > .expandable-navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

// ds-metric-donuts a, ds-metric-donuts a img {
//   height: 3.5rem !important;
//   width: 3.5rem !important;
// }

ds-metric-donuts a {
  background-size: contain;
}


